<% if not user_signed_in? %>
  <%= render 'pages/home' %>
<% end %>
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pinne| %>
    <div class="box panel panel-default">
      <%= image_tag pinne.image.url(:medium) %>
      <div class="panel-body">
        <%= pinne.description %>
        <%= pinne.user.email if pinne.user %>
        <%= link_to 'Show', pinne %>
        <% if pinne.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(pinne) %>
          <%= link_to 'Destroy', pinne, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end%>
      </div>
    </div>
  <% end %>
</div>

<div class='center'>
<%= will_paginate @pins, renderer: BootstrapPagination::Rails  %>
</div>