<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pinne| %>
      <tr>
        <td><%= image_tag pinne.image.url(:medium) %></td>
        <td><%= pinne.description %></td>
        <td><%= pinne.user.email if pinne.user %></td>
        <td><%= link_to 'Show', pinne %></td>
        <% if pinne.user == current_user %>
        <td><%= link_to 'Edit', edit_pin_path(pinne) %></td>
        <td><%= link_to 'Destroy', pinne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path %>
<% end %>